# Dependencies
node_modules/
.pnp
.pnp.js

# Build Output
dist/
*.tsbuildinfo

# Environment Variables
.env
.env*.local
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Testing
coverage/

# OS
.DS_Store
Thumbs.db
.AppleDouble
.LSOverride

# IDE - VSCode, JetBrains
.vscode/
.idea/
*.iml

# Project Specific
.localize-cache/
localization.state.json

# Temporary
tmp/
temp/